body {
    background-color: black;
    text-align: center;
}

img {
    text-align: center;
}

h1,h2,p {
    font-family: Verdana;
}

h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    color: white;
    font-size: 42px;
}

p {
    font-size: 21px;
    font-weight: normal;
    color: gray;
}

.cta {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    font-size: 16px;
}

footer p {
    text-align: right;
}